<nav class="col-md-3 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/admin/home" routerLinkActive="active" class="nav-link" href="#">
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/orders" routerLinkActive="active" class="nav-link" href="#">
          Pedidos
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/products" routerLinkActive="active" class="nav-link" href="#">
          Produtos
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/brands" routerLinkActive="active" class="nav-link" href="#">
          Marcas
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/categories" routerLinkActive="active" class="nav-link" href="#">
          Categorias
        </a>
      </li>
    </ul>
  </div>
</nav>