<div class="row">
  <div class="col-md-10 pt-2">
    <div class="d-inline-block" ngbDropdown #tipoDrop="ngbDropdown">
      <button class="btn btn-outline-success mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="tipoDrop.open()">Novos</button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button class="dropdown-item">Encaminhados</button>
        <button class="dropdown-item">Recebidos</button>
        <button class="dropdown-item">Cancelados</button>
        <button class="dropdown-item">Todos</button>
      </div>
    </div>
  </div>
</div>

<div class="row my-5 mx-3">
  <table class="table table-striped bg-white">
    <thead class="thead">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Produtos</th>
        <th scope="col">Endereço</th>
        <th scope="col">Preço Total</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders">
        <td>{{o.id}}</td>
        <td>
          <button *ngFor="let p of o.products; let i = index" type="button" class="btn btn-secondary m-1" placement="bottom" ngbTooltip="Informações do pedido">
            {{p.desc}}
            <span class="ml-1 badge badge-light">{{o.qtd[i]}}</span>
          </button>
        </td>
        <td>{{o.adress}}</td>
        <td>{{o.finalValue}}</td>
        <td>
          <h5>
            <span class="badge badge-success">{{o.status}}</span>
          </h5>
        </td>
        <td>
          <button class="btn btn-outline-success m-2 float-right" style="height: 30px; width: 30px; padding: 0; line-height: 40px; font-size: 14px !important;"
            placement="bottom" ngbTooltip="Adicionar aos enviados">
            <i class="material-icons">send</i>
          </button>
          <button class="btn btn-outline-danger m-2 float-right" style="height: 30px; width: 30px; padding: 0; line-height: 40px; font-size: 14px !important;"
            placement="bottom" ngbTooltip="Cancelar pedido">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>